.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-top: 20px; /* Adjust the top margin as needed */
    margin-bottom: 20px; /* Adjust the bottom margin as needed */
}
