/* Default styles for your carousel */
.carousal {
    width: 100%;
    height: 33.33vh; /* Set the height to 1/3rd of the viewport height */
    object-fit: cover;
    object-position: center; /* or adjust as needed based on your design */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* Media query for screens between 37.56rem and 43.75rem */
@media (min-width: 37.56rem) and (max-width: 43.75rem) {
    .carousal {
        min-width: 60rem; /* Set the minimum width to 60rem */
    }
}
